.list-group-item {
  line-height: 2.5;
}
#exampleNote{
  font-size: 12px;

}
.note{
  font-size: 24px;
  font-style: bold;
}
.scrape-new{
  margin-right: 30px;
}
.style_title{
  font-size:100px;
}
.navbar-brand{
  font-size:50px;
 
}
.caption{
  font-style: bold;
  
}

.nav-link{
  font-size:25px;
}